body {
    background-color: rgb(250, 250, 250);
    color: rgb(50, 50, 50);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}

header { font-size: 1.4em; }

footer {
    color: rgb(250, 250, 250);
    background-color: rgb(40, 40, 40);
}

article { background-color: rgb(240, 240, 240); }

article a { color: rgb(29, 129, 187); }

article a:hover { text-decoration: underline; }

a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

h1 { font-size: 4em; }

h2 { font-size: 3em; }

h3 { font-size: 2.5em; }

h4 { font-size: 2em; }

h5 { font-size: 1.5em }

h6 { font-size: 1.2em }

hr { border-style: inset; }

nav {
    background-color: rgb(250, 250, 250);
    border-color: rgb(50, 50, 50);
}

nav ul { list-style: none; }

nav ul li > a:hover {
    background-color: rgb(29, 129, 187);
    /* background-color: rgb(187, 29, 29); */
    color: rgb(250, 250, 250);
}

th {
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.btn {
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    color: rgb(40, 40, 40);
}

.btn:hover { background-color: rgb(230, 230, 230); }
